# Ignore all dataset files
data/
*.csv
*.zip
*.tar.gz
*.npz
*.hdf5
*.hea
*.dat
*.html
*.txt
*.py
RECORDS
*.pyc
*.keras


# Ignore system files
.DS_Store
Thumbs.db
config.py

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
